<ion-header>
  <ion-toolbar>
    <ion-item color="yellow">
      <b><ion-label position="floating" color="dark" style="padding-left: 10px !important;font-family: 'Nunito, san-serif;'">Your location</ion-label></b>
      <ion-input color="dark"></ion-input>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="button-action">
  <b><ion-chip outline routerLink="/tabs/menu" routerDirection="root">
    <ion-icon name="heart" color="white"></ion-icon>
    <ion-label >Rating</ion-label>
  </ion-chip>

  <ion-chip outline routerLink="/tabs/location" routerDirection="root">
    <ion-icon name="location" color="white" ></ion-icon>
    <ion-label>Location</ion-label>
  </ion-chip>

  <ion-chip outline routerLink="/tabs/promo" routerDirection="root">
    <ion-label> % Promo</ion-label>
  </ion-chip>

  <ion-chip outline color="success">
    <ion-icon name="time" color="success"></ion-icon>
    <ion-label color="success">24 Hours</ion-label>
  </ion-chip></b>
</div>

<ion-card>
  <div class="image">
    <img src="./assets/img/sate.png"></div>
        <b><div class="card-title">Sate Klathak Pak Pong</div>
        <div class="card-subtitle"> 4.3
          <ion-icon color ="warning"name="heart"></ion-icon>
          <ion-icon color ="warning"name="heart"></ion-icon>
          <ion-icon color ="warning"name="heart"></ion-icon>
          <ion-icon color ="warning"name="heart"></ion-icon>
          (3 review)
        </div>
        <div class="card-subtitle"> <ion-icon color="secondary" name="location"></ion-icon> Jl. Sultan Agung No.18, Jejeran II, Wonokromo, Kec. Pleret, Bantul, Daerah Istimewa Yogyakarta</div>
        <div class="card-subtitle-card"> Opens</div></b>
</ion-card>
  


</ion-content>
