ion-content.background{
    --ion-background-color:white;

}
.button-action{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

ion-chip{
    margin-left: 5px;
    color: grey;
    font-size: medium;
    font-family: 'Nunito', sans-serif; 
}


.card-title{
    font-size: large;
    font-family: 'Nunito',sans-serif;
}
.card-subtitle{
    font-size: 15px;
    font-family: 'Nunito',sans-serif;
}

.item-content{
    background-color: whitesmoke;
    margin-top: 10px;
}

.card-subtitle-sub{
    color: red;
    font-size: 15px;
    font-family: 'Nunito',sans-serif;
}

ion-card{
    background-color: whitesmoke;
    color: black;
    margin-top: 10px;
}

