<ion-header>
  <ion-toolbar color="yellow" routerLink="/detail" routerDirection="root">
    <ion-icon class="panah" slot="start" name="arrow-back"></ion-icon>
    <b> <ion-title style="padding-left: 10px !important;font-family: 'Nunito, san-serif;'">Ulasan</ion-title></b>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <img src="./assets/img/ayam.png" width="80px" slot="start"/>
    <b> <div class="container">
      <div class="card-title">Gudeg Pawon</div>
      <div class="card-subtitle"> <ion-icon color="secondary" name="location"></ion-icon> JL. Janturan UH/IV No.36, warungboto, Kec. Umbulharjo, Kota Yogyakarta</div>
      </div></b>
  </ion-item>
  </ion-card>

  <ion-card class="cards">
    <ion-item class="itm">
      <ion-textarea class="itm" placeholder="Enter more information here..."></ion-textarea>
    </ion-item>
    <ion-item class="photo">
    <ion-icon name="camera" ></ion-icon>
  </ion-item>
  <ion-item class="photo">
    <ion-icon name="image"  ></ion-icon>
  </ion-item>
  </ion-card>

  <ion-card class="cirds">
    <b><div class="card-title-title">Berikan Rating</div></b>
  <ion-item class="imt">
        <ion-icon color ="warning"name="heart-outline"></ion-icon>
        <ion-icon color ="warning"name="heart-outline"></ion-icon>
        <ion-icon color ="warning"name="heart-outline"></ion-icon>
        <ion-icon color ="warning"name="heart-outline"></ion-icon>
        <ion-icon color ="warning"name="heart-outline"></ion-icon>
        </ion-item>
  </ion-card>

  <ion-button class="actionbutton"expand="block" style="text-transform:none;" color="#79D70F" routerLink="/detail" routerDirection="root"><b>Done</b></ion-button>
  


  
  

</ion-content>
