.panah{
    margin-left: 10px;
}

.card-title{
    font-size: large;
    font-family: 'Nunito',sans-serif;
}
.card-subtitle{
    font-size: 15px;
    font-family: 'Nunito',sans-serif;
}
.card-title-title{
    width: auto;
    margin-top: 10px;
    margin-left: 35%;
    font-size: large;
    font-family: 'Nunito',sans-serif;
    color: black;
}

.cards{
    height: 300px;
    margin-top: 10px;
}
.imt{
    margin-top: 5px;
    height: 300px;
    margin-left: 30%;
}
.cirds{
    height: 87px;
    margin-top: 10px;
}
.photo{
    margin-top: 1px;
    margin-left: 72%;
}

.actionbutton{
    background-color: #79D70F;
    width: auto;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 1%;
    font-size: medium;
    font-family: 'Nunito', sans-serif;
}
.picture{
    margin-top: 10px;
    margin-left: 30%;

}
