<ion-header >
  <ion-toolbar >
    <ion-item color="yellow">
      <b><ion-label position="floating" color="dark" style="padding-left: 10px !important;font-family: 'Nunito, san-serif;'">Your location</ion-label></b>
      <ion-input color="dark"></ion-input>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
 <b> <div class="button-action">
    <ion-chip outline color="success">
      <ion-icon name="heart" color="success"></ion-icon>
      <ion-label color="success">Rating</ion-label>
  </ion-chip>

  <ion-chip outline routerLink="/tabs/location" routerDirection="root">
    <ion-icon name="location"></ion-icon>
    <ion-label>Location</ion-label>
  </ion-chip>

  <ion-chip outline routerLink="/tabs/promo" routerDirection="root">
    <ion-label> % Promo</ion-label>
  </ion-chip>

  <ion-chip outline routerLink="/tabs/hours" routerDirection="root">
    <ion-icon name="time"></ion-icon>
    <ion-label>24 Hours</ion-label>
  </ion-chip>
</div></b>
  
  <ion-card routerLink="/detail" routerDirection="root">
      <img src="./assets/img/ayam.png" />
          <b><div class="card-title">Gudeg Pawon</div>
          <div class="card-subtitle"> 4.5 
            <ion-icon color ="warning"name="heart"></ion-icon>
            <ion-icon color ="warning"name="heart"></ion-icon>
            <ion-icon color ="warning"name="heart"></ion-icon>
            <ion-icon color ="warning"name="heart"></ion-icon>
            (5 review)
          </div>
          <div class="card-subtitle"> <ion-icon color="secondary" name="location"></ion-icon> JL. Janturan UH/IV No.36, warungboto, Kec. Umbulharjo, Kota Yogyakarta, Daerah Istimewa Yogyakarta</div>
          <div class="card-subtitle-title"> Close</div></b>
  </ion-card>

  <ion-card>
    <div class="image">
      <img src="./assets/img/sate.png"></div>
          <b><div class="card-title">Sate Klathak Pak Pong</div>
          <div class="card-subtitle"> 4.4
            <ion-icon color ="warning"name="heart"></ion-icon>
            <ion-icon color ="warning"name="heart"></ion-icon>
            <ion-icon color ="warning"name="heart"></ion-icon>
            <ion-icon color ="warning"name="heart"></ion-icon>
            (3 review)
          </div>
          <div class="card-subtitle"> <ion-icon color="secondary" name="location"></ion-icon> Jl. Sultan Agung No.18, Jejeran II, Wonokromo, Kec. Pleret, Bantul, Daerah Istimewa Yogyakarta</div>
          <div class="card-subtitle-card"> Opens</div></b>
  </ion-card>

  <ion-card>
    <div class="image">
      <img src="./assets/img/soto.png"></div>
          <b><div class="card-title">Soto Bathok Mbah Katro</div>
          <div class="card-subtitle"> 4.4
            <ion-icon color ="warning"name="heart"></ion-icon>
            <ion-icon color ="warning"name="heart"></ion-icon>
            <ion-icon color ="warning"name="heart"></ion-icon>
            <ion-icon color ="warning"name="heart"></ion-icon>
            (3 review)
          </div>
          <div class="card-subtitle"> <ion-icon color="secondary" name="location"></ion-icon> JL. Sambisari, Purwomartani, Kalasan, Sleman Regency, Special Region of Yogyakarta</div>
          <div class="card-subtitle-card"> Opens</div></b>
  </ion-card>
  


  

  
</ion-content>
