ion-content.background{
    --ion-background-color:white;

}
.button-action{
    margin-top: 10px;
}

ion-chip{
    color: grey;
    font-size: small;
    font-family: 'Nunito', sans-serif; 
}

.card-title{
    font-size: large;
    font-family: 'Nunito',sans-serif;
}
.card-subtitle{
    font-size: 15px;
    font-family: 'Nunito',sans-serif;
}

.card-subtitle-title{
    font-size: 15px;
    font-family: 'Nunito',sans-serif;
    color: #E71414;
}

.card-subtitle-card{
    font-size: 15px;
    font-family: 'Nunito',sans-serif;
    color: #79D70F;
}

.item-content{
    background-color: whitesmoke;
    margin-top: 10px;
}

ion-card{
    background-color: whitesmoke;
    color: black;
    margin-top: 10px;
}



