ion-content.background{
    --ion-background-color:white;
}

.content{
    position: center;
    margin-left: 20px;
    margin-right: 20px;
}

.button-action{
    display: flex;
    justify-content: center;
}

.signup-text{
    font-size: large;
    color:green;
    text-align: center;
    text-transform: none;
    font-family: 'Nunito', sans-serif;
    margin-left: 1.5cm;

}

.signin-text{
    font-size: large;
    color:grey;
    text-align: center;
    text-transform: none;
    font-family: 'Nunito', sans-serif;
}

ion-input{
    background-color: whitesmoke;
    border-radius: 5px;
    font-size: medium;
    margin-right: 13px;
    color: black;
}

.actionbutton{
    background-color: #79D70F;
    color: white;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 13px;
    font-size: medium;
    font-family: 'Nunito', sans-serif;
}

.buton{
    
    position: center;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 13px;
    font-size: medium;
    font-family: 'Nunito', sans-serif;
    color: red;
}


