ion-card{
    background-color: whitesmoke;
    color: black;
    margin-top: 10px;
}

ion-item{
    margin-top: 10px;
}

.card-title{
    font-size: large;
    font-family: 'Nunito',sans-serif;
}
.card-subtitle{
    font-size: 15px;
    font-family: 'Nunito',sans-serif;
}

.card-subtitle-title{
    font-size: 15px;
    font-family: 'Nunito',sans-serif;
    color: black;
}
.card-title-title{
    margin-left: 160px;
    font-size: large;
    font-family: 'Nunito',sans-serif;
    color: black;
}
.cards{
    margin-top: 20px;
}

.buttons-action{
    font-size: small;
}
.buton{
    margin-left: 80px;
}
.buto{
    margin-left: 20px;
}
.panah{
    margin-left: 10px;
}
.signup-text{
    font-size:medium;
    color: #3dc2ff;
    text-align: center;
    text-transform: none;
    font-family: 'Nunito', sans-serif;
    margin-left: 10px;
}



.signin-text{
    font-size: medium;
    color:#2dd36f;
    text-align: center;
    text-transform: none;
    font-family: 'Nunito', sans-serif;
    margin-left: 10px;
}