<ion-header>
  <ion-toolbar color="yellow" routerLink="/tabs/menu" routerDirection="root">
    <ion-icon class="panah" slot="start" name="arrow-back"></ion-icon>
    <b> <ion-title style="padding-left: 10px !important;font-family: 'Nunito, san-serif;'">Detail Menu</ion-title></b>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="./assets/img/ayam.png" >
        <b><div class="card-title"><ion-icon name="heart-outline" color="danger" routerLink="/tabs/favorite" routerDirection="root"></ion-icon> Gudeg Pawon</div>
        <div class="card-subtitle"> 4.5 
          <ion-icon color ="warning"name="heart"></ion-icon>
          <ion-icon color ="warning"name="heart"></ion-icon>
          <ion-icon color ="warning"name="heart"></ion-icon>
          <ion-icon color ="warning"name="heart"></ion-icon>
          (5 review)
        </div>
        <div class="card-subtitle"> <ion-icon color="secondary" name="location"></ion-icon> JL. Janturan UH/IV No.36, warungboto, Kec. Umbulharjo, Kota Yogyakarta, Daerah Istimewa Yogyakarta</div>
        <div class="card-subtitle-title"> Open 08.30 - 14.00 pm</div></b>

        <div class="button-action">
          <ion-button fill="clear" color="dark" size="large" routerLink="/ulasan" routerDirection="root">
            <ion-icon name="create" color="success" class="buto"></ion-icon>
            <b><p class="signin-text">Ulasan</p></b>
          </ion-button>

          <ion-button fill="clear" color="dark" size="large" href="https://www.google.com/maps/place/Gudeg+Pawon/@-7.805718,110.3879509,17z/data=!3m1!4b1!4m5!3m4!1s0x2e7a57700347cb51:0xed0b575329f65c3d!8m2!3d-7.805718!4d110.3901396">
            <ion-icon name="location" color="secondary" class="buton" ></ion-icon>
            <b><p class="signup-text">Map</p></b>
          </ion-button>
          </div>
</ion-card>

<ion-card class="cards">
  <b><div class="card-title-title">Penilaian</div></b>
  <ion-item>
    <img src="./assets/img/man.png" width="80px" slot="start"/>
  <b> <div class="container">
    <div class="card-title">User</div>
      <div class="card-subtitle">Makanan Recomended, tempat yang disedakan bersih</div>
      <ion-icon color ="warning"name="heart"></ion-icon>
          <ion-icon color ="warning"name="heart"></ion-icon>
          <ion-icon color ="warning"name="heart"></ion-icon>
          <ion-icon color ="warning"name="heart"></ion-icon>
    </div></b>
</ion-item>

<ion-item>
  <img src="./assets/img/biru.png" width="80px" slot="start"/>
<b> <div class="container">
  <div class="card-title">User</div>
    <div class="card-subtitle">Pelayanan cepat, makanan recomended, empat yang disedakan bersih</div>
    <ion-icon color ="warning"name="heart"></ion-icon>
        <ion-icon color ="warning"name="heart"></ion-icon>
        <ion-icon color ="warning"name="heart"></ion-icon>
        <ion-icon color ="warning"name="heart"></ion-icon>
  </div></b>
</ion-item>
</ion-card>

</ion-content>
