<b><ion-header>
  <ion-toolbar color="yellow" routerLink="/tabs/setting" routerDirection="root">
    <ion-icon class="icon" slot="start" name="arrow-back"></ion-icon>
  <ion-title style="padding-left: 10px !important;font-family: 'Nunito, san-serif;'">Edit Profile</ion-title>
  </ion-toolbar>
</ion-header></b>

<ion-content>
  <ion-card class="cards">
    <div class="picture">
    <img src="{{imgURL}}" width="120px" height="120px"/>
</div>
    <ion-item class="photo">
      <ion-button color="light" (click)="getCamera()"><ion-icon color="dark" name="camera" ></ion-icon></ion-button>
      <ion-button color="light" (click)="getGallery()"><ion-icon name="image" color="dark" ></ion-icon></ion-button>
    </ion-item>
  </ion-card>

<div class="container">
<ion-item> 
  <ion-label color="dark" position="stacked">Display Name</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label color="dark"  position="stacked">Phone Number</ion-label>
  <b><ion-input></ion-input></b>
</ion-item>
<ion-item>
  <ion-label color="dark"   position="stacked">New Password</ion-label>
  <ion-input></ion-input>
</ion-item>

</div>

<ion-button class="actionbutton"expand="block" style="text-transform:none;" color="#79D70F" routerLink="/tabs/setting" routerDirection="root"><b>Done</b></ion-button>

  

</ion-content>
