.img{
    width: 85px;
    margin-left: 37%;
    margin-top: 25px;
}

ion-card{
    background-color: white;
    height:200px;
    width: auto;
    margin-left: 10px;
}


ion-label{
    font-size: medium;
    font-family: 'Nunito', sans-serif; 
}

ion-input{
    font-size: medium;
    font-family: 'Nunito', sans-serif; 
}


.actionbutton{
    background-color: #79D70F;
    color: white;
    border-radius: 5px;
    margin-top: 20%;
    margin-left: 15px;
    margin-right: 13px;
    font-size: medium;
    font-family: 'Nunito', sans-serif;
}

.container{
    width: 200;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
}

.cards{
    height: 183px;
    margin-top: 10px;
}

.photo{
    margin-top: 1px;
    margin-left: 37%;
}

.picture{
    margin-top: 10px;
    margin-left: 35%;

}
.icon{
    margin-left: 4%;
}