ion-content.background{
    --ion-background-color:white;

}
.container{
    font-size: medium;
    font-family: Nunito,sans-serif;
   
}

ion-item{
    margin-top: 10px;
   
}
.icont{
    margin-left: 10px;
}



