<b><ion-header>
  <ion-toolbar color="yellow" routerLink="/tabs/menu" routerDirection="root">
    <ion-icon slot="start" name="arrow-back" class="icont"></ion-icon>
  <ion-title style="padding-left: 10px !important;font-family: 'Nunito, san-serif;'">Favorite</ion-title>
  </ion-toolbar>
</ion-header></b>

<ion-content padding class="background">
  <ion-card>
<ion-item>
    <img src="./assets/img/ayam.png" width="100px" slot="start"/>
  <b> <div class="container">
    <div class="card-title">Gudeg Pawon</div>
      <div class="card-subtitle"> <ion-icon color="secondary" name="location"></ion-icon> JL. Janturan UH/IV No.36, warungboto, Kec. Umbulharjo, Kota Yogyakarta</div>
      <ion-icon slot="end" name="heart" color="danger"></ion-icon>
    </div></b>
</ion-item>
</ion-card>

<ion-card>
  <ion-item>
      <img src="./assets/img/sate.png" width="100px" slot="start"/>
    <b> <div class="container" >
      <div class="card-title">Sate Khlatak Pak Pong</div>
        <div class="card-subtitle"> <ion-icon color="secondary" name="location"></ion-icon> Jl. Sultan Agung No.18, Jejeran II, Wonokromo, Kec. Pleret, Bantul, Daerah Istimewa Yogyakarta</div>
        <ion-icon slot="end" name="heart" color="danger"></ion-icon>
      </div></b>
  </ion-item>
  </ion-card>

</ion-content>

